<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/auth.js"></script>
    <title>Discover Stories</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka One&family=Open+Sans&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/explore.css">
</head>

<body>
    <script src="../js/navbar.js"></script>
    <div class="explore-container">
        <ul id="stories-container"></ul>
    </div>

    <script type="module">
        import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js';
        import { getFirestore, collection, getDocs } from 'https://www.gstatic.com/firebasejs/9.0.1/firebase-firestore.js';

        // Initialize Firebase with your own configuration
        var firebaseConfig = {
            apiKey: "",
            authDomain: "a2sv-hackathon.firebaseapp.com",
            projectId: "a2sv-hackathon",
            storageBucket: "a2sv-hackathon.appspot.com",
            messagingSenderId: "335557285236",
            appId: "1:335557285236:web:95de9a7b59613041ef8821",
            measurementId: "G-TJ192BJEB9"
        };

        const firebaseApp = initializeApp(firebaseConfig);
        const db = getFirestore(firebaseApp);
        const parentHTML = document.getElementById("stories-container");
        const stories = [];
        const stories_id = [];


        // Function to fetch and display stories as JSON
        async function fetchAndDisplayStories() {
            var storiesRef = collection(db, "stories");

            var snapshot = await getDocs(storiesRef)
            snapshot.forEach(val => {
                // console.log(val)
                stories.push(val.data())
                stories_id.push(val.id)
            })
        }

        // Call the function to fetch and display stories
        await fetchAndDisplayStories();
        console.log(stories)
        for (let index = 0; index < stories.length; index++) {

            parentHTML.innerHTML += `
            <li data-id='${stories_id[index]}'><img src="${stories[index].cover_art}" onerror="this.src='https://images.freeimages.com/images/large-previews/213/blank-book-cover-1150402.jpg'"></li>`
        }

        var covers = document.querySelectorAll('li');
        for (var j in covers) {
            covers[j].addEventListener("click", readStory, false);
        }

        function readStory(event) {
            var id = this.getAttribute("data-id");
            var storyRef = collection(db, "stories");
            getDocs(storyRef)
                .then((querySnapshot) => {
                    querySnapshot.forEach((doc) => {

                        if (doc.id == id) {
                            localStorage.removeItem("story");
                            localStorage.setItem("story", JSON.stringify(doc.data()));
                            window.open("storybook.html", "_self");
                        }
                    });
                })
                .catch((error) => {
                });
        }

        // const id = this.getAttribute("data-id");
        //     var storyRef = collection(db, "stories");
        //     getDocs(storyRef)
        //         .then((querySnapshot) => {
        //             querySnapshot.forEach((doc) => {

        //                 if (doc.id == id) {
        //                     localStorage.removeItem("story");
        //                     localStorage.setItem("story", JSON.stringify(doc.data()));
        //                     window.open("storybook.html", "_self");
        //                 }
        //             });
        //         })
        //         .catch((error) => {
        //         });

        // function displayStory(story, doc_id) {
        //     const container = document.getElementById("stories-container");
        //     const storyDiv = document.createElement("div");
        //     storyDiv.className = "story";
        //     storyDiv.setAttribute("data-id", doc_id);
        //     storyDiv.onclick = function () {
        //         const id = this.getAttribute("data-id");
        //         var storyRef = collection(db, "stories");
        //         getDocs(storyRef)
        //             .then((querySnapshot) => {
        //                 querySnapshot.forEach((doc) => {

        //                     if (doc.id == id) {
        //                         localStorage.removeItem("story");
        //                         localStorage.setItem("story", JSON.stringify(doc.data()));
        //                         window.open("storybook.html", "_self");
        //                     }
        //                 });
        //             })
        //             .catch((error) => {
        //             });
        //     }

        //     const uidElement = document.createElement("p");
        //     uidElement.className = "uid";
        //     uidElement.textContent = "UID: " + story.uid;

        //     const timestampElement = document.createElement("p");
        //     timestampElement.className = "timestamp";
        //     const timestamp = new Date(story.timestamp.seconds * 1000);
        //     timestampElement.textContent = "Created on: " + timestamp.toLocaleString();

        //     const nameElement = document.createElement("p");
        //     nameElement.className = "timestamp";
        //     nameElement.textContent = "Name: " + story.name;

        //     const ageElement = document.createElement("p");
        //     ageElement.className = "timestamp";
        //     ageElement.textContent = "Age: " + story.age;

        //     const coverElement = document.createElement("img");
        //     coverElement.className = "timestamp";
        //     coverElement.src = story.cover_art;
        //     coverElement.style = "width: 100%; height: 200px; object-fit: cover;";

        //     const storyContent = document.createElement("div");
        //     storyContent.className = "story-content";
        //     storyContent.textContent = story.story.substring(0, 100) + "...";

        //     storyDiv.appendChild(coverElement);
        //     storyDiv.appendChild(timestampElement);
        //     storyDiv.appendChild(nameElement);
        //     storyDiv.appendChild(ageElement);
        //     storyDiv.appendChild(storyContent);
        //     container.appendChild(storyDiv);
        // }
    </script>

</body>

</html>