*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

body{
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    background: #fff;
    margin-top: 30px;
}

.navbar ul li {
    display: inline;
    margin: 20px;
    font-family: "Roboto";
    font-size: 18px;
}

.navbar a {
    color: #422c33;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #ffe07d;
}

.navbar ul li .logo {
    color: #fec200;
    font-family: "Fredoka One";
    font-size: 50px;
}

#lang {
    outline: 0;
    padding: 5px;
    border: 0;

    &:hover {
        cursor: pointer;
        color: #fec200;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    margin: auto;
}

.title-container .title {
    text-align: center;
    font-size: 35px;
    color: #422c33;
    margin-top: 70px;
    letter-spacing: 1px;
}

.title-container hr {
    background-color: #422c33;
    border: 3px solid #422c33;
    width: 100px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}

.choice-section {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px 10px rgba(126, 126, 126, 0.19), 0 6px 6px rgba(126, 126, 126, 0.23);
}


.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    height: 320px;

    &>p {
        font-family: 'Roboto';
        color: rgb(77, 77, 77);
        font-size: 25px;
        font-weight: 500;
    }

    &>div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & div {
            margin: 15px;
            padding: 20px;
        }

        & img {
            width: 120px;
        }

        & p {
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 1px;
            color: #363636;
        }

        & div {
            border-radius: 10px;
            overflow-x: hidden;

            &:hover {
                cursor: pointer;
                box-shadow: 0 5px 10px rgba(127, 127, 127, 0.25), 0 5px 10px rgba(127, 127, 127, 0.22);
            }
        }
    }
}

.option:focus {
    border: 3px solid #fec200;
}

.first-q div {
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(77, 77, 77);

    & input {
        margin-top: 10px;
        width: 60%;
        padding: 7px;
        font-size: 20px;
        border-radius: 10px;
        outline: 0;
        border: 1px solid lightgray;
        color: rgb(85, 85, 85);

        &:focus {
            border: 1px solid #fec200;

        }
    }
}

.btn-nav {
    background-color: #fec200;
    color: white;
    border: 3px solid white;
    padding: 20px;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    border: 3px solid #fec200;

    &:hover {
        cursor: pointer;
        color: #fec200;
        box-shadow:
            inset -3.5em 0 0 0 white,
            inset 3.5em 0 0 0 white;
    }
}

.question {
    display: none;
}


.fade {
    animation-name: fade;
    animation-duration: 1.6s;
}

.bottom-nav {
    text-align: center;
    margin-top: 40px;
}

.loader-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    visibility: hidden;

    & img {
        height: 300px;
        margin-top: 200px;
    }

    & h1 {
        color: #422c33;
        text-align: center;
        font-family: 'Poppin';
        text-transform: uppercase;
        font-size: 25px;
        position: relative;
    }

    & h1:after {
        position: absolute;
        content: "";
        margin-left: 5px;
        -webkit-animation: Dots 4s cubic-bezier(0, .39, 1, .68) infinite;
        animation: Dots 4s cubic-bezier(0, .39, 1, .68) infinite;
    }
}

.line {
    cursor: pointer;
    height: 7px;
    width: 70px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #717171;
    }
}

.active {
    background-color: #fec200;
}

.btn-generate {
    text-align: center;
    margin-top: 40px;

    & .btn-nav {
        display: none;
    }

    & button {
        border: 3px solid #fec200;
        color: white;
        padding: 10px 17px;
        font-size: 24px;
        font-weight: 500;
        background-color: #fec200;
        border-radius: 30px;
        transition: all 0.4s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #fec200;
            box-shadow: inset 6.5em 0 0 0 white;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


@-webkit-keyframes Dots {
    0% {
        content: "";
    }

    20% {
        content: ".";
    }

    40% {
        content: ". .";
    }

    60% {
        content: ". . .";
    }

    80% {
        content: ". . . .";
    }

    100% {
        content: ". . . . .";
    }
}

@keyframes Dots {
    0% {
        content: "";
    }

    20% {
        content: ".";
    }

    40% {
        content: ". .";
    }

    60% {
        content: ". . .";
    }

    80% {
        content: ". . . .";
    }

    100% {
        content: ". . . . .";
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    .btn-nav {
        display: none;
    }

    .title-container .title {
        font-size: 25px;
        margin-top: 30px;
        letter-spacing: 1px;
    }

    .title-container hr {
        width: 70px;
        border-radius: 30px;
    }

    .choice-section {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    .question {
        padding: 10px;
        height: auto;

        &>p {
            font-size: 18px;
        }

        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            & div {
                margin: 10px;
                padding: 10px;
            }

            & img {
                width: 60px;
            }

            & p {
                font-size: 16px;
            }

            & div {
                min-width: 100px;
            }
        }
    }

    .first-q div {
        margin: 15px;
        font-size: 18px;

        & input {
            width: 100%;
            font-size: 17px;
        }
    }

    .bottom-nav {
        margin-top: 3px;
    }

    .line {
        height: 5px;
        width: 35px;
        margin: 0 2px;
    }

    .btn-generate {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        & .btn-nav {
            display: block;
            background-color: white;
            color: #fec200;
            border: 3px solid #fec200;
            padding: 7px;
            border-radius: 30px;
            transition: all 0.4s ease-in-out;
            border: 3px solid #fec200;

            &:hover {
                color: #422c33;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}