/* COLORS
dark : #422c33
orange: #fec200
lightorange: #ffe07d */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    background: #fff;
    margin-top: 30px;
}

.navbar ul li {
    display: inline;
    margin: 20px;
    font-family: "Roboto";
    font-size: 18px;
}

.navbar a {
    color: #422c33;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #ffe07d;
}

.navbar ul li .logo {
    color: #fec200;
    font-family: "Fredoka One";
    font-size: 50px;
}

#lang {
    outline: 0;
    padding: 5px;
    border: 0;

    &:hover{
        cursor: pointer;
        color: #fec200;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    font-family: "Roboto";
    letter-spacing: 2px;
    color: rgb(77, 77, 77);
}

.container .tagline {

    width: 45%;

    & h1 {
        font-size: 50px;
    }

    & :nth-child(2) {
        color: #fec200;
    }

    & hr{
       background-color: lightgray;
       border: 1px solid lightgray;
       width: 90%; 
    }

    & .action-buttons {
        width: 100%;
        margin-top: 30px;

        & button {
            background-color: #fec200;
            padding: 15px 25px;
            margin-right: 30px;
            color: white;
            font-size: 20px;
            /* font-weight: bold; */
            border: 0;
            border-radius: 30px;

            &:nth-child(2){
                background-color: white;
                border: 3px solid #fec200;
                color: #fec200;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.tagtext {
    margin-top: 30px;
    font-size: 21px;
    font-family: 'Roboto';
    letter-spacing: 1px;
    color: #8f8f8f;
    margin-bottom: 50px;
}

.bg-home {
    background-color: #fec200;
    text-align: center;


    & div {
        width: 50%;
        background-color: white;
    }

    & img {
        width: 500px;
    }

    & h2 {
        font-size: 26px;
    }
}