*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('images/book-page/page-bg.png');
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans';
}

.container {
    width: 60%;
    height: 70%;
    margin: auto;
    box-shadow: 0 30px 60px 0 rgba(87, 87, 87, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 150px;
    text-align: center;
    border-radius: 20px;
}

.container .left {
    background-color: #d07814;
    float: left;
    width: 40%;
    border-radius: 20px 0 0 20px;

    & img {
        width: 80%;
        height: auto;
        margin-top: 20%;
    }

    & h2 {
        font-weight: 800;
        color: #ffcf32;
        font-family: 'Fredoka One';
        letter-spacing: 1px;
        background-color: white;
        width: 50%;
        padding: 5px 15px;
        text-align: center;
        margin: auto;
        border-radius: 30px;
        margin-bottom: 20px;
    }

    & p {
        font-size: 18px;
        color: white;
        width: 70%;
        text-wrap: wrap;
        font-weight: 600;
        margin: auto;
        margin-bottom: 30px;
    }
}

.container .right .hidden {
    visibility: hidden;
}

.container .right {
    background-color: white;
    float: right;
    width: 60%;
    border-radius: 0 20px 20px 0;
    position: relative;

    & .register-container {
        position: absolute;
    }

    & .login-container, .register-container {
        position: absolute;
        margin-left: 30%;
        margin-top: 30px;

        & h2 {
            color: #422c33;
            font-size: 30px;
            font-weight: 1000;
            margin-bottom: 10px;
        }

        & hr {
            text-align: center;
            border: 3px solid #fec200;
            border-radius: 10px;
            width: 100px;
            margin-left: 30%;
        }

        & form {
            margin-top: 30px;
        }

        & .form-group {
            position: relative;
            margin-bottom: 25px;

            & label {
                color: #422c33;
                font-size: 17px;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: all 0.2s ease-in-out;
            }

            & input {
                font-size: 17px;
                padding: 10px 10px 10px 5px;
                width: 100%;
                border: none;
                border-bottom: 1px solid #fec200;

                &:focus {
                    outline: none;
                }

                &:focus~label {
                    top: -20px;
                    left: -2px;
                    transform: scale(.75);
                    color: #fec200;
                }

                &:focus~.bottom-line::before,
                &:focus~.bottom-line::after {
                    width: 50%;
                }

                &:focus~.highlight {
                    animation: inputHighlighter 0.3s ease;
                }
            }

            & input.done~label {
                top: -20px;
                left: -2px;
                transform: scale(.75);
                color: #fec200;
            }

            & .bottom-line {
                position: relative;
                display: block;
                width: 100%;

                &::before,
                &::after {
                    content: "";
                    height: 3px;
                    width: 0;
                    bottom: 0;
                    position: absolute;
                    background: #fec200;
                    transition: all 0.2s ease;
                }

                &::before {
                    left: 50%;
                }

                &::after {
                    right: 50%;
                }
            }

            & .highlight {
                position: absolute;
                height: 60%;
                width: 100px;
                top: 25%;
                left: 0;
                pointer-events: none;
                opacity: 0.5;
            }
        }

        & form p {
            margin-right: -120px;
            margin-top: -15px;

            & a {
                color: #fec200;
                font-size: 15px;
                text-decoration: none;

                &:hover {
                    color: #d07814;
                }
            }
        }

        & form button {
            background-color: #fec200;
            color: white;
            border: 3px solid #fec200;
            font-size: 24px;
            margin-top: 30px;
            margin-bottom: 0px;
            padding: 10px;
            border-radius: 30px;
            width: 100%;
            position: relative;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: #fec200;
                box-shadow: inset 0 3.25em 0 0 white;
            }
        }

        &>button {
            background-color: transparent;
            border: 1px solid #422c33;
            width: 100%;
            border-radius: 30px;
            text-align: left;
            padding: 6px 15px;
            margin-top: 10px;

            & span {
                position: absolute;
                font-size: 20px;
                text-align: center;
                padding: 8px 7px;

            }

            & img {
                width: 30px;
                margin-top: 5px;
            }

            &:hover{
                cursor: pointer;
            }
        }

        &>p {
            margin-top: 25px;
            font-size: 16px;

            & span {
                color: #fec200;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.fadeIn {
    animation: fade 1s;
}

.fadeOff {
    animation: fadeoff 0.3s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeoff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes inputHighlighter {
    from {
        background: #fec200;
    }

    to {
        width: 0;
        background: transparent;
    }
}