body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    overflow-y: hidden;
}

*,
*::before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    background: #fff;
    margin-top: 30px;
}

.navbar ul li {
    display: inline;
    margin: 20px;
    font-family: "Roboto";
    font-size: 18px;
}

.navbar a {
    color: #422c33;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #ffe07d;
}

.navbar ul li .logo {
    color: #fec200;
    font-family: "Fredoka One";
    font-size: 50px;
}

#lang {
    outline: 0;
    padding: 5px;
    border: 0;

    &:hover {
        cursor: pointer;
        color: #fec200;
    }
}

.container {
    margin-top: 20px;
    width: 100%;
    height: 89vh;
    background: linear-gradient(to right,
            #ffbd59 0%,
            #ffbd59 70%,
            white 70%,
            white 100%);

}

.container .left {
    display: flex;
    justify-content: start;
}


.book {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-audio>div {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 370px;
    margin-bottom: 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    & img {
        width: 70px;
        height: 70px;
        margin: 7px;
        border-radius: 50%;
        align-self: center;
    }

    & h3 {
        margin-bottom: 5px;
        text-align: center;
    }
}



.book-wrap {
    height: 800px;
    width: 100%;
    max-width: 500px;
    margin: 40px 0px 0 500px;
    position: relative;
    perspective: 1500px;
}


.left .next-steps {
    width: 40%;
    margin-right: 10px;
    font-family: 'Open Sans';
}

.left .next-steps h2 {
    color: #fec200;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    text-align: center;

    &::before {
        content: " ";
        display: block;
        height: 3px;
        width: 50px;
        border-radius: 10px;
        background: #fec200;
        position: absolute;
        top: 50%;
        left: 90px;
    }

    &::after {
        content: " ";
        display: block;
        height: 3px;
        width: 50px;
        border-radius: 10px;
        background: #fec200;
        position: absolute;
        top: 50%;
        right: 90px;
    }
}



.book-wrap::before {
    content: '';
    display: block;
    padding-bottom: 150%;
}

.book-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0 10px 10px 0;
    top: 0;
    left: 0;
    background-color: #d07814;
    transform-origin: left center;
    transition: 800ms ease-in-out;
}

.cover-front {
    z-index: 2;
}

.cover-front img,
.cover-back img {
    width: 450px;
    height: auto;
    text-align: center;
    margin-top: 30px;
}

.page-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    perspective: 1500px;
}

.page-bg {
    width: calc(100% - 20px);
    height: calc(100% - 18px);
    position: absolute;
    top: 9px;
    right: 0;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
}

.page-bg .page {
    width: 100%;
    height: 100%;
    transition: 800ms ease-in-out;
    backface-visibility: hidden;
    padding: 10px 15px;
}

.page-content {

    & .page-image {
        text-align: center;
    }

    & img {
        margin-top: 30px;
        width: 90%;
        height: 300px;
        border-radius: 10px;

    }

    & p {
        margin: 10px;
        font-size: 20px;
        color: #422c33;
        font-weight: 500;

        & .story-span-text {
            position: relative;

            & .hidden-meaning {
                position: absolute !important;
                top: -90px;
                border-radius: 10px;
                width: 100px;
                padding: 10px;
                font-weight: 400;
                left: 0;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                font-size: 15px;
                visibility: hidden;
            }
        }


        .story-span-text:hover {
            border-bottom: 2px solid rgb(255, 210, 143);
        }
    }

    & .page-audio {
        text-align: center;
    }

    & audio {
        width: 100%;
        border-radius: 7px;

    }

    & audio::-webkit-media-controls-panel {
        background-color: #ffebab;
    }
}

.page-bg .page:nth-child(odd) {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ebebeb 0%, #d9d9d9 0.5%, #f9f9f9 3%, #ffffff 8%, #ffffff 98%, #ffffff 100%);
    border-radius: 0 6px 6px 0;
    transform-origin: left center;
}

.page-bg .page:nth-child(odd) .page-trigger {
    right: 0;
}

.page-bg .page:nth-child(odd) .page-trigger::before {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.03) 100%);
    border-radius: 0 6px 6px 0;
    right: 3px;
}

.page-bg .page:nth-child(even) {
    position: absolute;
    top: 0;
    right: 100%;
    transform: scale3d(-1, 1, -1);
    transform-origin: right center;
    background-image: linear-gradient(to left, #ebebeb 0%, #d9d9d9 0.5%, #f9f9f9 3%, #ffffff 8%, #ffffff 98%, #ffffff 100%);
    border-radius: 6px 0 0 6px;
}

.page-bg .page:nth-child(even) .page-trigger {
    left: 0;
}

.page-bg .page:nth-child(even) .page-trigger::before {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.03) 100%);
    border-radius: 6px 0 0 6px;
    left: 3px;
}

.page-bg .page-trigger {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 2;
}

.page-bg .page-trigger::before {
    content: '';
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
    transition: 200ms linear;
}

.page-bg .page-trigger:hover::before {
    width: 20%;
    opacity: 1;
}

.book .action-buttons {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
    align-self: flex-start;

    & button {
        margin: 10px;
        border: 0;
        color: #fec200;
        background-color: white;
        border-radius: 5px;
        position: relative;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        & span {
            font-size: 30px;
        }

        & .tooltip {
            font-size: 14px;
            position: absolute;
            top: 0;
            padding: 5px 8px;
            pointer-events: none;
            opacity: 0;
            color: white;
            font-weight: bold;
            text-align: center;
            border-radius: 7px;
            background: transparent;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        }

        &:hover {
            cursor: pointer;
        }

        &:hover .tooltip {
            top: -40px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    .btn-download:hover,
    .btn-download:hover .tooltip {
        background-color: #1877F2;
        color: white;
    }

    .btn-share:hover,
    .btn-share:hover .tooltip {
        background-color: #CD201F;
        color: white;
    }

    .btn-regen:hover,
    .btn-regen:hover:hover .tooltip {
        background-color: #00bf00;
        color: white;
    }
}





/* .active-meaning {
    visibility: visible;
} */